# Build artifacts
build/
*.ipa
*.dSYM
*.dSYM.zip
*.hmap

# Xcode user settings
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace

# macOS specific
.DS_Store

# Swift Package Manager
.build/
# Packages/
# Package.pins
# Package.resolved

# CocoaPods (uncomment if you choose not to track Pods)
# Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/